body {
	font-family: var(--text-font);
	font-weight: 400;
	font-size: 14px;
	color: var(--text-color-black);
}
.container {
	max-width: 1180px;
	padding: 0px 10px;
	margin: 0 auto;
}
.main {
	background-color: var(--main-bg);
	overflow-x: clip;
}
.section {
	padding-bottom: 150px;
}
.section--decor::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	background-image: url(../images/section-decor.png);
	width: 22px;
	height: 30px;
}
.section--decor::after {
	content: "";
	position: absolute;
	left: 23px;
	bottom: 13px;
	background-color: var(--brown-decor);
	width: 150%;
	height: 1px;
}
.section--decor {
	position: relative;
}
.title {
	font-family: var(--title-font);
	font-size: 40px;
	margin-bottom: 15px;
}

.section__inner {
	display: grid;
	grid-template-columns: 370px auto;
}
.section__content-descr {
	display: grid;
	grid-template-columns: auto auto;
	padding-bottom: 92px;
}

.button {
	padding: 18px 54px;
	background-color: var(--btn-color);
	font-weight: 600;
}