.feedback__item {
	display: grid;
	grid-template-columns: auto auto;
	gap: 0 16px;
	align-items: center;
}
.feedback__item-video {
	position: relative;
}
.feedback__descr {
	margin-right: 20px;
}
.feedback__item-videobtn {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.feedback__item-content {
	padding-bottom: 70px;
}
.feedback__item-sociallink img{
	margin-bottom: 12px;
}
.feedback__item-name {
	margin-bottom: 15px;
	font-size: 16px;
	font-family: var(--title-font);
}
.feedback__item-text {
	margin-bottom: 15px;
}
.feedback__item-btn {
	position: absolute;
	bottom: 5px;
	right: 0;
}
.feedback__content {
	padding-bottom: 110px;
}
.feedback__slider {
	width: 760px;
	overflow: hidden;
}
.feedback__content .swiper-pagination {
	bottom: 50px;
}
.swiper-pagination-bullet {
	background-color: var(--beige);
	width: 53px;
	height: 4px;
	border-radius: 0;
	opacity: 1;
}
.swiper-pagination-bullet-active {
	background-color: var(--brown-decor);
}