.team {
	background-color: var(--section-bg);
	padding: 80px 0 60px;
	color: #fff;
	margin-bottom: 150px;
}
.team__content {
	padding-bottom: 0;
	gap: 75px;
}
.team__item {
	position: relative;
}
.team__item-box {
	background-color: var(--brown-decor);
	text-align: center;
	position: absolute;
	padding: 14px 10px;
	width: 165px;
	z-index: 4;
	bottom: 8px;
	right: 25px;
	
}
.team__item-name {
	font-size: 12px;
	font-family: var(--title-font);
	padding-bottom: 5px;
}
.team__item-descr {
	font-size: 10px;
}