:root {
	--text-font: "Comfortaa", sans-serif;
	--title-font: "Yeseva One", sans-serif;
	--third-font: "Roboto", sans-serif;

	--beige: #bea495;
	--btn-color: #ffbd59;
	--text-color-gray: #fafafa;
	--brown-decor: #7b6152;
	--section-bg: #a5978e;
	--main-bg: #fff8f3;
	--text-color-black: #000;
}